<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>Ferx requires camera access for video meetings.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Ferx requires microphone access for audio calls.</string>
</dict>
</plist>